<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../src/elements/multi-categories.html">
<link rel="import" href="../../src/elements/multi-questions.html">
<link rel="import" href="../../src/elements/yml-generator.html">

<dom-module id="create-test-helper-app">
    <template>
        <style>
            :host {
                display: block;
            }

            header {
                color: var(--primary-text-color);
                background-color: var(--primary-background-color);
                width: 100%;
                height: 80px;
                border-bottom: 2px solid var(--app-primary-color);
                position: fixed;
                z-index: 100;
            }

            .logo-kairos {
                height: 40px;
                position: absolute;
                top: 15px;
                left: 20px;
	        }
            
            main {
                padding: 40px;
            }

            section {
                background-color: var(--primary-background-color);
                padding: 20px;
            }

            .section-info {
                margin-top: 60px;
            }

            h2 {
                color: var(--app-primary-color);
                margin: 0px;
                padding-bottom: 20px
            }

            paper-input,
            paper-textarea {
                --paper-input-container-focus-color: var(--app-secondary-color);
            }

            .mark-container, .time-container {
                display: flex;
            }

            .mark-failed, .mark-approved, .mark-stimated-time, .mark-limit-time {
                display: inline;
                box-sizing: border-box;
                width: 50%;
            }   

            .mark-approved, .mark-limit-time {
                padding-left: 16px;
            }   
        </style>

        <header>
            <img class="logo-kairos" src="../images/logo.svg" alt="logo-kairos">
        </header>
        <main>
            <section class="section-info">
                <h2>Información</h2>
                <paper-input label="Nombre del test" value="{{info.name}}"></paper-input>
                <paper-textarea label="Descripción" value={{info.description}}></paper-textarea>
                <div class="mark-container">
                    <paper-input class="mark-failed" label="Nota de corte suspenso" min="0" max="100" type="number"
                        value={{info.failed}}></paper-input>
                    <paper-input class="mark-approved" label="Nota de corte aprobado" min="0" max="100" type="number"
                        value={{info.approved}}></paper-input>
                </div>

                <div class="time-container">
                    <paper-input class="mark-stimated-time" label="Tiempo estimado en segundos" type="number" value={{info.estimatedTime}}></paper-input>
                    <paper-input class="mark-limit-time" label="Tiempo límite en segundos" type="number" value={{info.limitTime}}></paper-input>
                </div>
                <multi-categories categories-list="{{categories}}"></multi-categories>
            </section>

            <section class="section-questions">
                <h2>Preguntas</h2>
                <multi-questions question-list="{{questionList}}"></multi-questions>
            </section>
            <yml-generator input="[[input]]"></yml-generator>
        </main>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class CreateTestHelperApp extends Polymer.Element {
            static get is() {
                return 'create-test-helper-app';
            }
            static get properties() {
                return {
                    info: { type: Object, value() { return {} } },
                    input: {
                        type: Object,
                        computed: "_buildInput(info.*, categories.*, questionList.*)"
                    }
                }
            }
            // static get observers() {
            //     return [
            //         '_buildInput(name, categories, questionList.*)'
            //     ]
            // }




            _buildInput(_info, _categories, _questions) {
                if (_info.base === undefined || _questions.base === undefined || _categories.base === undefined) {
                    return undefined
                }
                var info = _info.base
                var categories = _categories.base.map(function (category) {
                    return {
                        name: category,
                        description: category
                    }
                })

                var questions = _questions.base.map(function (question) {
                    return {
                        title: question.text,
                        description: question.text,
                        level: +question.level,
                        category: { name: categories[0].name },
                        options: question.options.map(function (option) {
                            return {
                                description: option.text,
                                value: +option.score,
                            }
                        })
                    }
                })
                return {
                    name: info.name,
                    description: info.description,
                    minScore: +info.failed,
                    cutOffScore: +info.approved,
                    estimatedTime: +info.estimatedTime,
                    limitTime: +info.limitTime,
                    categories: categories,
                    questions: questions
                }

            }
        }

        window.customElements.define(CreateTestHelperApp.is, CreateTestHelperApp);
    </script>
</dom-module>