<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />

<dom-module id="multi-categories">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }

            .button-categories-container {
                height: 40px;
                width: 85px;
                position: absolute;
                right: 0px;
                bottom: -10px;
                border: 1px solid var(--app-tertiary-color);
                background-color: white;
                border-radius: 3px;
            }

            paper-input {
                --paper-input-container-focus-color: var(--app-secondary-color);
            }
        </style>

        <template is="dom-repeat" items="[[categoriesList]]">
            <paper-input label="Categoría" on-value-changed="getValue">
            </paper-input>
        </template>
        <div class="button-categories-container">
            <paper-icon-button icon="add" on-click="addCategories"></paper-icon-button>
            <paper-icon-button icon="clear" on-click="removeCategories"></paper-icon-button>
        </div>
    </template>


    <script>
        /**
         * @customElement
         * @polymer
         */
        class MultiCategories extends Polymer.Element {
            static get is() {
                return "multi-categories";
            }
            static get properties() {
                return {
                    categoriesList: {
                        type: Array,
                        value() {
                            return [""];
                        },
                        notify: true
                    }
                };
            }
            addCategories() {
                this.push("categoriesList", "");
            }

            removeCategories() {
                this.pop("categoriesList");
            }

            getValue(e) {
                // e.model.item is a reference to categoriesList[index]  
                e.model.item = e.target.value;
                // notify polymer to update view
                this.notifyPath("categoriesList" + "." + e.model.index);
            }
        }

        window.customElements.define(MultiCategories.is, MultiCategories);
    </script>
</dom-module>