<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../../src/elements/question-element.html">
<link rel="import" href="../../src/elements/multi-options.html">


<dom-module id="multi-questions">
    <template>
        <style>
            :host {
                display: block;
                border: 2px solid var(--app-primary-color);
                position: relative;
                margin-bottom: 20px;
                padding: 10px 10px;
            }

            .button-container {
                height: 40px;
                border: 1px solid var(--app-tertiary-color);
                border-radius: 3px;
                position: absolute;
                right: 22px;
                bottom: -20px;
                background-color: white;
            }
        </style>

        <template is="dom-repeat" items=[[questionList]]>
            <question-element on-question-changed="getValue">
        </template>

        <div class="button-container">
            <paper-icon-button icon="add" on-click="addQuestion">
            </paper-icon-button>

            <paper-icon-button icon="clear" on-click="removeQuestion">
            </paper-icon-button>
        </div>
        </div>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MultiQuestions extends Polymer.Element {
            static get is() {
                return "multi-questions";
            }
            static get properties() {
                return {
                    questionList: {
                        type: Array,
                        value() {
                            return [{
                                text: "",
                                level: 1,
                                options: [{
                                    text: "",
                                    score: 0
                                }]
                            }];
                        },
                        notify: true
                    }
                };
            }
            addQuestion() {
                this.push("questionList", {
                    text: "",
                    value: 1,
                    options: [{
                        text: "",
                        score: 0
                    }]
                });
            }

            removeQuestion() {
                this.pop("questionList");
            }

            getValue(e) {
                // e.model.item is a reference to optionList[index]  
                e.model.item = e.target.question;
                // notify polymer to update view
                var path;
                if (path = e.detail.path && e.detail.path.split('.')) {
                    this.notifyPath("questionList." + e.model.index + "." + path.slice(1).join("."));
                }
            }
        }

        window.customElements.define(MultiQuestions.is, MultiQuestions);
    </script>
</dom-module>