<dom-module id="multi-repeat">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <template is="dom-repeat" items="[[items]]" as="item">
            <slot></slot>
        </template>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MultiRepeat extends Polymer.Element {
            static get is() {
                return "multi-repeat";
            }
            static get properties() {
                return {
                    items: Array,
                }
            }
        }

        window.customElements.define(MultiRepeat.is, MultiRepeat);
    </script>
</dom-module>