<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../../src/elements/option-element.html">


<dom-module id="multi-options">
    <template>
        <style>
            :host {
                display: block;
            }


            .button-options-container {
                height: 40px;
                width: 85px;
                margin-top: 5px;
                border: 1px solid var(--app-tertiary-color);
                border-radius: 3px;
            }
        </style>

        <template is="dom-repeat" items="[[optionList]]">
            <option-element on-option-changed="getValue"></option-element>
        </template>
        <div class="button-options-container">
            <paper-icon-button icon="add" on-click="addOption"></paper-icon-button>
            <paper-icon-button icon="clear" on-click="removeOption"></paper-icon-button>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MultiOptions extends Polymer.Element {
            static get is() {
                return "multi-options";
            }
            static get properties() {
                return {
                    optionList: {
                        type: Array,
                        value() {
                            return [{ text: "", score: 0 }];
                        },
                        notify: true
                    }
                };
            }
            addOption() {
                this.push("optionList", { text: "", score: 0 });
            }

            removeOption() {
                this.pop("optionList");
            }

            getValue(e) {
                // e.model.item is a reference to optionList[index]  
                e.model.item = e.target.option;
                // notify polymer to update view
                var path;
                if (path = e.detail.path && e.detail.path.split('.')) {
                    this.notifyPath("optionList." + e.model.index + "." + path[1]);
                }
            }
        }

        window.customElements.define(MultiOptions.is, MultiOptions);
    </script>
</dom-module>