<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="option-element">
    <template>
        <style>
            :host {
              display: flex;
            }
            paper-input {
                display: inline;
            }
            .score {
                box-sizing: border-box;
                padding-left: 16px;
                width: 30%;
            }
            .option {
                width: 70%;
            }

            paper-input {
                --paper-input-container-focus-color: var(--app-secondary-color);
            }

          </style>

        <paper-input class="option" label="Respuesta" value={{option.text}}></paper-input>
        <paper-input class="score" label="Valor" type="number" value={{option.score}}></paper-input>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class OptionElement extends Polymer.Element {
            static get is() {
                return "option-element";
            }
            static get properties() {
                return {
                    option: {
                        type: Object,
                        notify: true,
                        value: function () {
                            return {
                                text: "",
                                score: 0
                            };
                        }
                    }
                };
            }
        }

        window.customElements.define(OptionElement.is, OptionElement);
    </script>
</dom-module>