<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../src/elements/multi-options.html">


<dom-module id="question-element">
    <template>
        <style>

            :host {
            display: block;
        }

        paper-input {
            --paper-input-container-focus-color: var(--app-secondary-color);
        }
        
    </style>
        <paper-input label="Pregunta" value={{question.text}}></paper-input>
        <paper-input label="Nivel" type="Number" value={{question.level}}></paper-input>
        <multi-options option-list={{question.options}}></multi-options>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class QuestionElement extends Polymer.Element {
            static get is() {
                return "question-element";
            }
            static get properties() {
                return {
                    question: {
                        type: Object,
                        value() {
                            return { text: "", level: 1, options: [{ text: "", score: 0 }] };
                        },
                        notify: true
                    },
                };
            }

        }

        window.customElements.define(QuestionElement.is, QuestionElement);
    </script>
</dom-module>