<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<script src="../../bower_components/js-yaml/dist/js-yaml.min.js"></script>

<dom-module id="yml-generator">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-button.orange {
                margin: 0px;
                background-color: var(--app-primary-color);
                color: white;

                --paper-button-raised-keyboard-focus: {
                    background-color: var(--app-secondary-color) !important;
                    color: white !important;
                }

                ;
            }
        </style>

        <paper-button class="orange" on-click="generateYML">Generar YML</paper-button>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class YMLGenerator extends Polymer.Element {
            static get is() {
                return "yml-generator";
            }
            static get properties() {
                return {
                    input: Object
                };
            }
            generateYML() {
                console.log(this.input)
                console.log(jsyaml.dump(this.input))

                var a = document.createElement("a")
                a.href = window.URL.createObjectURL(
                    new Blob(
                        [jsyaml.dump(this.input)],
                        { type: "application/yaml" }
                    )
                )


                var date = new Date();
                var dateString =
                    date.getUTCFullYear() + "-" +
                    ("0" + (date.getUTCMonth() + 1)).slice(-2) + "-" +
                    ("0" + date.getUTCDate()).slice(-2)

                a.download = (this.input.name + ' ' + dateString).replace(/\s/g, "_")
                document.body.appendChild(a)
                a.click()
                document.body.removeChild(a)
            }
        }

        window.customElements.define(YMLGenerator.is, YMLGenerator);
    </script>
</dom-module>